

.chiasmus_list
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    /* 1em spacing between columns */
    grid-column-gap: 1ex;
    /* 1em spacing between rows */
    grid-row-gap: 1ex;
    padding-bottom: 2rem;
}

.chiasmus_list .chiasmus
{
    display: flex;
    border: 1px solid #e0e0e0;
    background-color: #DDD;
    padding: 1ex;
    overflow: hidden;
    border-radius: 1ex;
    cursor: pointer;
    
}

.chiasmus_list .chiasmus:hover
{
    background-color: #CCC;
}

.chiasmus_line
{
    display: flex;
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 0.3ex;
    max-width: 30rem;
}
.chiasmus_line .scheme
{

    width: 1.2rem;
    line-height: 1.2rem;
    height: 1.2rem;
    margin-bottom: 0.3ex;

    font-size: 0.8rem;
    margin-right: 1ex;
    background-color: #888;
    color: white;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
}

.chiasmus_line .text 
{
    font-family: "Scripture", serif;
}

.chiasm h4
{
    font-weight: 800;
}

.chiasmus{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.chiasmus .reference{
    font-weight: 800;
}
.chiasmus .scheme{
    color: #888 ;
}