

.chiasmus_list
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    /* 1em spacing between columns */
    grid-column-gap: 1ex;
    /* 1em spacing between rows */
    grid-row-gap: 1ex;
    padding-bottom: 2rem;
}

.chiasmus_list .chiasmus
{
    display: flex;
    border: 1px solid #e0e0e0;
    background-color: #DDD;
    padding: 1ex;
    overflow: hidden;
    border-radius: 1ex;
    cursor: pointer;
    
}

.chiasmus_list .chiasmus:hover
{
    background-color: #CCC;
}

.chiasmus_line
{
    display: flex;
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 0.3ex;
    max-width: 30rem;
    cursor: pointer;
}
.chiasmus_line .scheme
{

    width: 1.2rem;
    line-height: 1.2rem;
    height: 1.2rem;
    margin-bottom: 0.3ex;

    font-size: 0.8rem;
    margin-right: 1ex;
    background-color: #888;
    color: white;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
}

.chiasmus_line .scheme.minor{
    background-color: #CCC;
    color: #888;

}

.chiasmus_line .text 
{
    font-family: "Scripture", serif;
    color: #AAA;
}

.chiasm h4
{
    font-weight: 800;
}


.chiasmus{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.chiasmus .reference{
    font-weight: 800;
}
.chiasmus .scheme{
    color: #888 ;
}

.chiasmus_line:not(.inactive) .highlight
{
    font-weight: 500;
    color: black    ;
}

.chiasmus_line.active .highlight
{
    font-weight: 500;
    color: black    ;
    background-color: #FFFF0022;
    padding-left: 1ex;
    padding-right: 1ex;
    margin-left: -1ex;
    margin-right: -1ex;
}

.chiasmus_line.inactive{
    opacity: 0.5;
}


.chiasmus_line.active .scheme
{
    background-color: #FFFF0022;
    color: black;
    border: 1px solid #888;
}

.chiasmus_controls
{
    display: flex;
    justify-content: space-around;
    margin-top: 1ex;
    margin-bottom: 2rem;
}

.innerChiasmContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.chiasmIndexPanel{
    flex-grow: 1;
    overflow: auto;
    height: calc(100vh - 10.5rem);
    padding: 0 1ex;
}

.chiasmPanel{
    transition: width 0.5s ease;
    overflow: auto;
    height: calc(100vh - 10.5rem);
}

.chiasmPanel.closed{
    width: 0;
}

.chiasmPanel.open{
    width: 40%;
}

.chiasm .close{
    float: right;
}

.chiasmus.active{
    outline: 3px solid #000;
    background-color: #CCC;
    border: 0;
}