
.center-to-left {
    animation: centerToLeft 1s;
    animation-timing-function: ease;
}

@keyframes centerToLeft {
    from {
        left: 50%;
    }
    to {
        left: -50%;
    }
}

.left-to-center {
    animation: leftToCenter 1s;
    animation-timing-function: ease-out;
}

@keyframes leftToCenter {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}

.center-to-right {
    animation: centerToRight 1s;
    animation-timing-function: ease;
}

@keyframes centerToRight {
    from {
        left: 50%;
    }
    to {
        left: 150%;
    }
}

.right-to-center {
    animation: rightToCenter 1s;
    animation-timing-function: ease-out;
}

@keyframes rightToCenter {
    from {
        left: 150%;
    }
    to {
        left: 50%;
    }
}