.page h1,
.page h2,
.page h3,
.page h4 {
  font-family: "Scripture", serif;
  cursor: text;
  font-weight: 400;
}

.page h3 {
  font-size: 3em;
  margin-top: 3em;
}

.page h4 {
  margin-bottom: 3em;
}

.scripture.capsulation .reference {
  background-color: #666;
  line-height: 1.8em;
}

.scripture.capsulation span.triangle {
  position: relative;
  top: -2pt;
}
.scripture.capsulation:hover span.triangle {
  transform: rotate(45deg);
  transition: transform 250ms;
}

.connection {
  padding-left: 4em;
  height: 2em;
  line-height: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  cursor: pointer;
  color: #666;
}

.notready.content {
  pointer-events: none;
  opacity: 0.2;
  cursor: wait !important;
}

/* for mobile */


.alert.pageInfo {
  position: fixed;
  left: calc(50% + 125px);
  width: 30vw;
  margin-left: -15vw;
  margin-top: 30vh;
  z-index: 99999;
  text-align: center;
}


@media only screen and (max-width: 900px) {
  .alert.pageInfo {
    left: calc(50%);
    width: 60vw;
    margin-left: -30vw;
  }
}


.alert.pageInfo img {
  height: 2em;
  width: 2em;
  opacity: 0.5;
  margin-right: 1ex;
}

.alert.pageInfo .x {
  cursor: pointer;
  opacity: 0.1;
  margin-left: 2em;
}

.alert.pageInfo:hover .x {
  opacity: 1;
}

.pagesection {
  position: static;
}


.pagesection h4
{
    margin: 0 1em 1ex 1em;
    font-weight: 400;
}


.left-image.backconnection::before {
  content: "";
  position: absolute;
  margin-left: -2rem;
  height: 1.8rem;
  width: 1.8rem;
  background: url(../_Common/svg/left.svg) no-repeat;
  transition: 0.6s transform;
}

.right-image.rightconnection::after {
  content: "";
  position: absolute;
  margin-left: 1ex;
  height: 1.8rem;
  width: 1.8rem;
  right:0;
  background: url(../_Common/svg/right.svg) no-repeat;
  transition: 0.6s transform;
}

.right-image.leftconnection:hover::before {
  transform: rotate(-180deg);
  transition: 0.6s transform;
}

.right-image.leftconnection::before {
  content: "";
  position: absolute;
  margin-left: -2rem;
  height: 1.8rem;
  width: 1.8rem;
  background: url(../_Common/svg/right.svg) no-repeat;
  transition: 0.6s transform;
}

.right-image.leftconnection:hover::before {
  transform: rotate(-180deg);
  transition: 0.6s transform;
}

.left-image.fromconnection::after {
  content: "";
  position: absolute;
  margin-left: 1ex;
  height: 1.8rem;
  width: 1.8rem;
  background: url(../_Common/svg/left.svg) no-repeat;
  transition: 0.6s transform;
}
.left-image.fromconnection:hover::after {
  transform: rotate(180deg);
  transition: 0.6s transform;
}

div.row div.leftconnection:hover,
div.row div.backconnection:hover,
div.row div.rightconnection:hover,
div.row div.fromconnection:hover {
  margin-left: 0px;
  margin-right: 0px;
  transition: 0.6s margin;
}
div.row div.leftconnection {
  float: left;
  background-position: left;
  margin-left: 10px;
  padding-left: 2.5em;
  text-align: left;
  position: relative;
  left: -1em;
  transition: 0.6s margin;
  line-height: 100%;
  display: flex;
  align-items: center;
}

div.row div.backconnection {
  float: left;
  background-position: left;
  margin-left: 10px;
  padding-left: 2.5em;
  text-align: left;
  margin-top: 10px;
  transition: 0.6s margin;
}

div.row div.rightconnection {
  float: right;
  background-position: right;
  margin-right: 10px;
  padding-right: 2.5em;
  text-align: right;
  transition: 0.6s margin;
  line-height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

div.row-r div.rightconnection {
  float: right;
  background-position: right;
  margin-right: 10px;
  padding-right: 2.5em;
  text-align: right;
  transition: 0.6s margin;
}

div.row div.fromconnection {
  float: right;
  background-position: right;
  margin-right: 10px;
  padding-right: 2.5em;
  text-align: right;
  transition: 0.6s margin;
}

div.row div.rightconnection:hover {
  margin-right: 5px;
}

div.row-r div.rightconnection:hover {
  margin-right: 5px;
  background-position: right;
}

a.theater-link{
	position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

a.theater-link img
{
  height: 2rem;
  width: 2rem;
  filter: invert();
  float: right;
  opacity: 0.1;
  flex-shrink: 0;
}
a.theater-link img:hover
{
  opacity: 0.3;
}
.sectionfooter {
  padding: 2em;
  border-top: 4px double #ccc;
  background-color: #f4f4f4;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  display: block;
}

.pagesection.card {
  margin-bottom: 5em;
}

.pagesection .card-body {
  padding-top: 0;
  padding-bottom: 0.5em;
}

@media only screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .content.page h3 {
    margin: 0;
    padding-bottom: 1ex;
    font-size: 2.5em;
    font-weight: 400;
  }
  .main-panel {
    padding: 0;
  }
  .main-panel > .content {
    padding: 0;
  }

  .pagesection.card {
    margin-bottom: 1em;
  }

  .pagesection .card-header {
    padding: 0;
    margin-bottom: 0;
  }

  .pagesection .card-body {
    padding-right: 0;
  }
  .pagesection h4 {
    margin: 1ex 1em;
    line-height: 1.2em;
  }
  .pagesection .scripture {
    margin-left: 1.5em;
    margin-top: -1em;
    width: calc(100% - 1.6em);
  }
  .pagesection .narration {
    margin-left: -1em;
    width: calc(100% + 1em);
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
  }

  .card .scripture .reference {
  }

  .card-body:nth-child(even) {
    background-color: #eee;
  }

  .faxbox 
  .faxbox .thumb_tabs li {
    width: 3em;
  }
  .faxbox.images {
    margin-left: 4em;
  }

  #popUp {
    width: 98vw;
  }

  .commentary .card-header div.commentary_head {
    font-size: 1.3em;
  }

  .card-header ul.source_tabs li.close {
    font-size: 2em;
    margin-top: -0.2em;
    margin-right: -0.5em;
  }

  .narration .images {
    margin-right: 0em;
    margin-bottom: 1.2em;
  }
}

.content .userCircle {
  transition: margin-top 200ms ease-in;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 4px solid #888;
  background-position: center center;
  background-size: cover;
  filter: saturate(0);
  opacity: 0.5;
  cursor: pointer;
  position: sticky;
  z-index: 99;
  transition: top 200ms ease-in-out;
}
.content .userCircle .progressBadge {
  position: absolute;
  bottom: -0.5em;
  right: -1.5em;
  background-color: #55a579;
  font-size: x-small;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  font-weight: 800;
  color: #fff;
}

.content .userCircle:hover {
  filter: saturate(1);
  opacity: 1;
}

.content .userCircle.online {
  border-color: #6bd098;
  filter: saturate(1);
  opacity: 1;
}


.muteButton
{
  background-color: #323b4d;
  border-radius: 50%;
  position: fixed;
  top:calc(60px + 1ex);
  right: 1ex;
  width: 3rem;
  height: 3rem;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 1em .5ex rgba(0,0,0,0.64); 
  box-shadow: 0px 0px 1em .5ex rgba(0,0,0,0.64);
  display: flex;
  justify-content: center;
  align-items: center;
}

.muteButton img{
  width: 60%;
  opacity: 0.7;
}

.card-header-title-wrapper{
	display:flex;
	justify-content:space-between;
  margin-right: 2rem;
}

.theater-link{
	display:inline-block;
  display: flex;
  align-items: center;
}


.cannedResponses
{
  display: none;
}

.scripture .cannedResponses
{
  display: flex;
}