
.sidebar-wrapper li.active.theater_link > a:not([data-toggle="collapse"]):before ,
.sidebar-wrapper li.active.theater_link > a:not([data-toggle="collapse"]):after 
{
  border-right-color: #000000!important;
  display: none;
}


.theater-wrapper
{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:60px;
    left: 0px;
    bottom: 0;
    right:0;
    background-color: #000;
    color: #AAA;

    text-align: center;
    overflow: hidden;
}

/* if screen width is under 1200, make column */
@media (max-width: 1200px){
    .theater-wrapper
    {
        flex-direction: column;
    }
    .theater-wrapper .theater-main-panel
    {
        width: 100%;
    }
    .theater-wrapper .theater-side-panel
    {
        width: 100%!important;
        min-width: 100%;
        height: 40%;
        flex-direction: row!important;
        position: relative;
    }
    .imageCaption
    {
        bottom: auto;
        top:0;
    }

    .theater-wrapper .theater-side-panel .theater-people-image-panel
    {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
        height: 100%;
        flex-grow: 0;
        position: relative;
    }

    .theater-image-panel 
    {
        flex-grow: 1;
        margin:0;
        height: 50%;
        position: absolute;
        top:0;
        opacity: 0.5;
        position: absolute;
        max-height: none;
    }

    .theater-people-place-panel
    {
        flex-shrink: 0;

    }

    .theater-wrapper .theater-side-panel .theater-comment-panel
    {
        flex-grow: 1;
    }


    @media (max-height: 1000px){
        
        .theater-side-panel{
            display: none!important;
        }

    }
    
}

@media (max-width: 900px){


    .theater-side-panel{
        display: none!important;
    }
    .theater-meta-contents
    {
        flex-direction: column!important;
    }
    .theater-controls
    {
        display: none!important;
    }

    .theater-meta-content-left
    {
        width:100%!important;
        height:auto!important;
    }
    .theater-meta-content-section,
    .theater-meta-content
    {
        display: none!important;
    }

    .theater-content-frame
    {
        font-size: min(1.5rem, 3vh)!important;
    }
    .theater-content-next,
    .theater-content-prev
    {
        height: 1.5rem!important;
        width: 1.5rem!important;
    }

.theater-meta.visible{
    height: 13rem!important;
}


}


.theater-wrapper span.spacer{
    display: inline-block;
    width: 3rem;
}
.theater-main-panel
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-items: space-between;
    position: relative;

}

.theater-main-panel .theater-meta
{
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    background-color: #222;
    position: relative;
    height: 0;
    transition: all 1s ease-in-out;
}
.theater-meta,
.theater-controls
{
    opacity: 0;
    height: 0;
    transition: all 1s ease-in-out;
}
.theater-meta.visible,
.theater-controls.visible
{
    opacity: 1;
    transition: all 1s ease-in-out;
}
.theater-meta.visible{
    height: 11rem;
}
.theater-controls.visible{
    height: 4rem;
}




.theater-meta-content-heading
{
    background-color: #333;
    font-weight: 0;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.2ex;
    font-variant: small-caps;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.theater-meta-contents
{
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 11rem;
}
.theater-meta-content-left
{
    width: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.theater-meta-content-right
{
    flex-grow: 1;
    display: flex;
    display: relative;
    height: 100%;
    /* add #444 linear gradient to bottom 3rem */
    background-image: linear-gradient(to bottom, #000000, #00000000);
}

.theater-meta-content-narration
{
    font-size: min(2.5vh, 1rem);
    background-color: #444;
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: justify;
}
.theater-meta-content-narration ul{
    list-style: none;
    padding: 0 1rem;
}

.theater-meta-content-narration li.active{
    background-color: #AAA;
    transition: background-color 1s ease-in-out;
    color: black;
}
.theater-meta-content-narration li.active:hover{
    color: black;
    background-color: white;
    transition: none;
}
.theater-meta-content-narration li:hover:not(.active){
    color: white;
    transition: none;
}
.theater-meta-content-narration li{
    background-color: auto;
    transition: background-color 1s ease-in-out;
    border-radius: 1ex;
    padding: 5px 1ex;
    line-height: 1rem;
    color: #666;
    cursor: pointer;
}

.theater-main-panel .theater-content-frame
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: justify;
    padding: 2rem;
    font-family: 'Sorts Mill Goudy', serif; 
    font-weight: 800;
    font-size: max(2vw, 1.5vh);
    color: #FFFFFFCC;
    align-items: center;
    overflow: hidden;
    position: relative;


        /* make background image opacity 0.3 */
        background-blend-mode: multiply;
        background-color: #000000AA;
        /* stretch background image to fill */
        background-size: cover;
        background-position: center;

}

.theater-main-panel .theater-queue-intro
{
    background-image: none;
}

.ko .theater-main-panel .theater-content-frame,
.ko .theater-meta-content,
.ko .theater-meta-content-section
{
    font-family: 'Nanum Myeongjo';
}

.theater-main-panel .theater-content-frame blockquote{

    line-height: 110%;
    font-size: 90%;
}

.theater-main-panel .theater-content-slider {
    width: 80%;
    position: absolute;
    top: 30%; 
}

.theater-main-panel .theater-content-slider.playing{
    display: block;
}

.theater-main-panel .theater-controls-buttons
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: space-around;

    background-color: #222;
    padding-bottom: 3rem;
}
.theater-main-panel .theater-controls-buttons
{
    display: flex;
    flex-grow: 1;
}
.theater-main-panel .theater-progress-bar-buttons.right
{
    display: flex;
    align-items: center;
    gap: 1ex;
}

.theater-main-panel .theater-progress-bar-buttons .playbackRateIcon
{
    width: 3rem;
    background-color: #AAA;
    height: 100%;
    font-size: 1rem;
    color: black;
    border-radius: 1ex;
    cursor: pointer;
    /* no select */
    user-select: none;
}
.theater-main-panel .theater-progress-bar-buttons .playbackRateIcon:hover
{
    background-color: white;
}


.theater-content-top-visor{
    /* 3rem high, top 0, black backgounrd */
    position: absolute;
    top: 0;
    height: 3rem;
    width: 100%;
    /* background linear gradient top black, top transparent */
    background-image: linear-gradient(to bottom, #000000, #00000000);
}
.theater-content-bottom-visor{
    /* 3rem high, top 0, black backgounrd */
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    /* background linear gradient bottom black, top transparent */
    background-image: linear-gradient(to top, #000000, #00000000);
}

.theater-content-next,
.theater-content-prev
{
    position: absolute;
    height:2rem;
    width: 2rem;
    top: calc(50% - 1rem);
    left:1ex;
    transition: opacity 0.5s ease-in-out;
    
}
.theater-content-next.hidden,
.theater-content-prev.hidden
{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}



.theater-content-next{
    right: 1ex;
    left: auto;
}

img.player-ui{
    height: 2rem;
    opacity: 0.6;
    cursor: pointer;
}

img.player-ui:hover{
    opacity: 1
}
.theater-intro-slide,
.theater-section-intro
{
    background-image: url('https://media.bookofmormon.online/theater/entrance-1');
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:min(2vh,10%);
    padding-bottom: min(20vh,30%);
    font-family: 'Roboto Condensed', 'Arial Narrow', 'sans-serif';
}

.theater-intro-slide em{
    font-family: 'Sorts Mill Goudy', serif;
}

.theater-intro-slide p{
    text-align: center;
    padding: 0 10%;
    line-height: 100%;
}

.theater-intro-slide.off
{
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.theater-intro-slide.on
{
    opacity: 1;
    transition: opacity 3s ease-in-out;
}
.theater-intro-slide p.presents
{
    color:#999
}
.theater-wrapper .studylink
{
    position: absolute;
    right:0;
    color: #999;
    text-transform: initial;
    background-color: #444;
    top:0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5ex 0 1ex;
    opacity: 1;
    border-radius: 0.5ex;
    font-size: 1rem;
    letter-spacing: -0.05ex;
    margin: 0.5ex;
    height: calc(100% - 1ex);
    user-select: none;
    font-variant: normal;
    font-size: 80%;
    z-index: 999;
}
.theater-wrapper .studylink:hover
{
    opacity: 1;
    color: white;
    background-color: #666;
}
.theater-wrapper .studylink img{
    height: 1rem;
    margin-right: 0.5ex;
}

.theater-crossroads
{

    background:url('https://media.bookofmormon.online/theater/entrance-1');
    height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #000000AA;
}

.theater-crossroads h2{
    margin: 5% 0 0 0;
    font-weight: 800;
    font-size: 2rem;
}
.theater-crossroads h3{
    
    font-size: 3rem;
    margin: 0;
    padding-bottom: 1rem;
}


.theater-crossroads-box
{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.theater-crossroads-box-top
{
    text-align: left;
}
.theater-crossroads-box-bottom
{
    display: flex;
    text-align: left;
    
}

.theater-crossroads-box-bottom img
{
    width: 15rem;
    object-position: top;
    object-fit: contain;
    
}
.theater-crossroads-box-offramp
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}
.theater-crossroads-box-button
{
    font-size: 1rem;
    line-height: 1rem;
    background-color: #333;
    border-radius: 1ex;
    padding: 1ex;
    border: 3px solid #666;
    width: auto;
    flex-grow: 0;
    cursor: pointer;
}

.theater-crossroads-box-button.active
{
    border-color: #AAA;
}

.theater-crossroads-box-button h5{
    line-height: 100%;
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.theater-crossroads-box-button h6{
    text-transform: none;
    font-size: 1.2rem;
    margin-left: 1rem;
    font-weight: 400;
}
.theater-crossroads-box-button p{
    opacity: 0.6;
}

.theater-crossroads-box .buttonheader
{
    font-weight: 800;
    margin-top: 1ex;
    font-size: 1rem;
}


.theater-intro-slide .playbutton
{
    width: 7rem;
    height: 7rem;
    background-color: #6bd098;
    color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    font-size: 1rem;
}
.theater-intro-slide .playbutton img{
    height: 50%;
}

.theater-intro-slide.section-intro{
    font-size: 2rem;
    line-height: 100%;
}
.theater-intro-slide.section-intro p{
    font-family: "Sorts Mill Goudy", serif;
    font-size: min(2.5rem, 5vh);
    
}
.theater-intro-slide.section-intro .upnext
{
    font-size: 2rem;
    opacity: 0.4;
    font-style: italic;
}
.theater-intro-slide.section-intro small{
    padding: 10%;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
    font-size: min(1.5rem, 2.5vw)!important;
    line-height: 120%;
    /* overflow ellipsis overflow */

    text-overflow: ellipsis;
    /* max 20 lines height */
    flex-grow: 0;
    max-height: 80%;
    font-size: min(1.5rem, 3vh);
    
    
}

span.pageTitle
{
    font-size: 1.5rem;
    opacity: 0.7;
}

.theater-intro-slide img.logo
{
    margin-bottom: 5%;
    flex-shrink: 0;
    height: 30%;
}

.theater-queue-indicator
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 1rem 1ex 0 1ex;
    margin-bottom: 1rem;
}

.theater-queue-indicator-tooltip{
	z-index:6000;
}

.theater-super-title
{
    font-family: 'Sorts Mill Goudy', serif; 
    font-weight: 800;
    font-size: 2vh;
    flex-grow: 1;
    padding-top: 1ex;
    margin-bottom: 1ex;
    position: absolute;
    bottom: 0;
    height: 25%;
    font-size: 150%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* allow break word*/
    word-break: break-word;

}
.theater-meta-content-section
{
    color: white;
    font-family: 'Sorts Mill Goudy', serif; 
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45%;
    top:25%;
    width: 100%;
    font-size: min(2rem,1.5vw);
    overflow: hidden;
    line-height: 2rem;
}

.theater-queue-indicator .theater-queue-indicator-item
{
    height: 1rem;
    width: 100%;
    background-color: #333;
    border-radius: 1ex;
    cursor: pointer;
}

.theater-queue-indicator .theater-queue-indicator-item:hover
{
    background-color: #555;
}

.theater-queue-indicator .theater-queue-indicator-item.completed
{
    background-color: #6bd098;
}
.theater-queue-indicator .theater-queue-indicator-item.prestarted
{
    background-color: #fbc65866;
}
.theater-queue-indicator .theater-queue-indicator-item.started
{
    background-color: #fbc658;
}


@keyframes blinking-outline {
    0% {outline-color: #6bd098FF;}
    50% {outline-color: #FFFFFFFF;}
    100% {outline-offset: #6bd098FF;}
}

.theater-queue-indicator .theater-queue-indicator-item.active {
    outline: 3px solid #6bd098FF;
    animation: blinking-outline 1s infinite ease-in-out;
}


.theater-queue-indicator .theater-queue-indicator-item.last-in-section
{
    margin-right: 1.5ex;
}
.theater-queue-indicator .theater-queue-indicator-item.last-in-section:last-child
{
    margin-right: 0;
}


#theater-audio-player
{
    display: none;
}

.theater-side-panel
{
    width: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

.theater-side-panel .theater-image-panel {
    flex-shrink: 0;
    transition:  max-height 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 20rem;

}

.failed-to-load
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30%;
    font-size: 2rem;
}

.failed-to-load img{
    height: 20rem;
    width: 10rem;
    opacity: 0.5;
}

.theater-side-panel .theater-image-panel.hidden {
    height: 0;
    transition:  height 0.5s ease-in-out;
    opacity: 0;
}


  .theater-side-panel .theater-image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

}

.theater-side-panel .img-element-container {    
    display: flex;
    /* transform-origin: top + 10%; */
    transform-origin: top center;
    width: 100%;

}
.theater-people-image-panel
{
    max-height: 66%;
    position: relative;
}


.theater-side-panel .theater-image-panel img {
    z-index: 99;

    transform-origin: "top center";
    object-fit: contain;
    width: 100%;
}

  
  .imageCaption
  {
    z-index: 10;
    position: absolute;
    bottom: 0;
    height: 2rem;
    background-color: #00000099;
    left: 0;
    right: 0;
    line-height: 2rem;
    color:white;
    font-weight: bold;

  }
.theater-progress-bar-container{
    display: flex;
    flex-direction: row;
    padding:1rem
}

.theater-progress-bar
{
    flex-grow: 1;
    padding: 0 1rem;
}

.theater-controls .progress-bar
{
    width: 100%;
    height: 2rem;
    background-color: #333;
    cursor:pointer;
    flex-grow: 1;
    border-radius: 1ex;
}
.theater-controls .progress-bar-inner
{
    height: 100%;
    background-color: #6bd09866;
    pointer-events: none;
    border-right:1px solid #6bd098;

}

.theater-side-panel .theater-comment-panel
{
    background-color: #444;
    flex-grow: 1;
    position: relative;
}

.theater-side-panel .theater-comment-feed
{
    overflow: scroll;
    position: absolute;
    top:2rem;
    bottom: 0;
    padding: 0 1rem 1rem 1rem;
}


.theater-comment-feed .comment {
    display: flex;
    flex-direction: row;
    padding: 1ex;
    transition: color 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;


  }
  .theater-comment-feed .comment.preloaded {
    color: black;
  }

  .theater-comment-feed .comment-text{

    background-color: #DDD;
    color: #000;
    text-align: left;
    padding: 1ex;
    overflow: hidden;
    position: relative;
    opacity: 1;
    line-height: 2ex;
    transition: opacity 0.5s ease-in-out;
    border-radius: 1ex;
    color: #666;
  }

  .theater-comment-feed .comment:hover .comment-text{
    background-color: #FFF;
  }

  .theater-comment-feed .comment img.avatar {
    
    width: 4rem;
    height: 4rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 50%;
    border: 2px solid white;
    margin-right:1ex;
    position: relative;
    top: -1ex;
    /* drop shadow */
    /* shift the shadow down and right 1rem */
    box-shadow: 1ex 1ex 1rem #00000099; 

  }

  .theater-comment-feed .comment .triangle{
    margin-top: 0;
    margin-left: -0.5ex;
    margin-right: -0.5ex;
    font-size: 2rem;
    color: #DDD;
  }


  .theater-wrapper h4{
    font-size: 1.2rem;
    height: 2rem;
    line-height: 1.5;
    padding:0;
    margin:0;
    background: #333;
    font-weight: bold;
  }

.theater-people-place-panel 
{
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.theater-people-place-items
{
		display:flex;
    overflow-x:auto;
    min-height: 13rem;
}

.theater-people-place-panel{
    max-height: 100vh;
    transition: max-height 0.5s ease-in-out;
}
.theater-people-place-panel.hidden{
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.theater-people-place-panel.hidden .theater-people-place-items{
    background-color: #000;
}

.theater-people-place-item
{
    position: relative;
    flex-shrink: 0;
    width: 9rem;
    height: 12rem;
    filter: blur(0);
    transition: all 0.5s ease-in-out;
    margin: 0.5ex;
    border-radius: 1ex;
    cursor: pointer;
    margin: 1ex;
}

  .theater-people-place-item:hover{
    outline: 2px solid white;
    filter: brightness(1.2) saturate(1.2);
  }

  .theater-people-place-item.hidden
  {
    width: 0;
    opacity: 0;
    overflow: hidden;
    outline: 3px solid red;
    filter: blur(10px);
    margin: 0;
  }


  .theater-people-place-item img
  {
    width: 100%;
    height: calc(100% - 1.5rem);
    object-fit: cover;
    border-radius: 1ex;
    margin-top: 1.5rem;
  }
  .theater-people-place-item-caption,
  .theater-people-place-item-name
  {
    border-radius: 0 0 0.5rem 0.5rem;
    color:white;
    background-color: #00000099;
    position: absolute;
    height: auto;
    left:0;
    right:0;
    bottom:0;
    padding:1ex;
    font-size: 0.7rem;
  }
  .theater-people-place-item-name
  {
    border-radius: 0.5rem 0.5rem 0 0;
    top:0;
    font-weight: 800;
    bottom: auto;
    font-size: 1.2rem;
    line-height: 1rem;
  }


  .theater-crossroads-box-button .timerContainer{
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 1ex;
    background-color: #555;
    border-radius: 1ex;
    margin-bottom: 1rem;
  }


  .theater-crossroads-box-button .timerBand{
    height: 1ex;
    width: 100%;
    border-radius: 1ex;
    background-color: #00000055;
  }

  .theater-crossroads-box-button .timerProgress{
    height: 1ex;
    background-color: #6bd098;
    border-bottom-left-radius: 1ex;
    border-top-left-radius: 1ex;
  }