.bibleContainer{
    margin-top: 5em;
    margin-left: 2em;
    height: calc(100vh - 5em - 2em);
    outline: 1px solid black;

}

.bibleContainer > div{
    outline: 1px solid black;
}
.bibleContainer .bibleDetail{
    height: 40%;
}
.bibleContainer .bibleOTgrid{
    height: 20%;
}
.bibleContainer .bibleNTgrid{
    height: 20%;
}
.bibleContainer .bibleBOMgrid {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.verse {
    background-color: blue;
}

.bomverse
{

    background-color: yellow;
}



.grid
{
    position: relative;
    height: calc(100vh - 130px);

}

.gridTable{
    width: 80%;
    height: 100%;

}

.leftHeader
{
    /* vertical tet */
    writing-mode: vertical-rl;
    /* reverse text */
    transform: scale(-1);
    text-align: center  ;
    width: 2rem;
}
.leftHeaders
{
    width: 2rem;
    padding: 1ex;
    text-align: right;
    font-weight: bold;
}

.gridTable thead
{
    font-weight: bold;
    text-align: center;
}




.leftHeaders, .topHeaders
{
    background-color: #00000033;
    padding: 1ex;
    border: 1px solid black;
    cursor: pointer;
}
.leftHeaders:hover, .topHeaders:hover{
    background-color: #00000066;
    color: white;
}

.gridCell
{
    height: calc(100%);
    width: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

