.atv
{
    border: 1px solid #AAA;
    margin: 1rem;
    padding: 1ex;
    width: calc(100% - 9rem);
    border-radius: 1ex;
    background-color: #DDD;
    color: #888;
    font-family: monospace;
    line-height: 1.2em;
    font-size: small;


}

.atv .source
{
    /* undo inherited float */
    float: none;
    width: 100%;
    overflow:unset;
    margin:0;
}

.atv-string
{
    background-color: white;
    padding: 0 1ex 0 1ex;
    border-radius: 1ex;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    color: #000;
    cursor:default;
}
.atv-string:hover{
    position: relative;
    bottom: 1px;
    border-bottom: 1px solid #FFF;
}

.atv-change{
    color: #AAA;
    font-size: x-small;
    font-style: italic;
}

.atv-string b
{
    color: #FF000066
}

.comment_tab{
  flex:1 1 auto;
  position: relative;
}

.commentary_content_image{
  position: relative;
  width:100%;
  height:100%;
}

.commentary_hide_button
{
  display: none;
}
.commentary_content_image .fade_image{
  transition: filter 0.5s ease; /* Add transition effect */
  filter: blur(2px);
  /* darker */
  filter: brightness(0.6);
}
.commentary_content_image .false{
  transition: filter 0.5s ease; /* Add transition effect */
  filter: blur(0px);
  /* darker */
  filter: brightness(1);
}
.commentary_hide_button.show_button{
  cursor: pointer;
  display: block;
  position: absolute;
  top: .4ex;
  right:0.4ex;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  font-family: monospace;
  background-color: #FFFFFF55;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 50%;
}

.commentary_hide_button.show_button:hover{
  background-color: #FFFFFFAA;
  line-height: 1.35rem;
}


.show_button{
  display:block;
}

