
.scriptureContainerWrapper
{
    margin-top: 1rem;
    background-color: #EEE;
    padding:0;
    border-radius: 1rem;
}

.scripturePanel
{
  /* flex grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 0.5ex;
  padding: 1ex;
}
  .scriptureItem
  {
    padding: 0.5ex;
    border-radius: 1ex;
    background-color: #00000022;
    line-height: 100%;
    display: flex;
    /* vert and horiz center */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    letter-spacing: -0.3px;
    font-size: 1.7ex;
    max-height: 10rem;
  }

  .scriptureItem:hover
  {
    background-color: #00000044;
    position: relative;
    bottom: 0.5px;;
  }
  .scriptureItem.active
  {
    color: white;
    background-color: #00000088;
    outline: 2px solid #000;
  }
  
.scripturePanelSingle 
{
    padding-bottom: 1rem;
}
.scripturePanelSingle h5{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #DDD;
    color: #666;
}
.scripturePanelSingle h6{
  text-align: left;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  margin-bottom: 0.5ex;
  text-transform: none;
  flex-grow: 1;
}

.scripturePanelSingle .text
{
    background-color: white;
    margin: 0 1em 0 1em;
    border-radius: 1rem;
    padding: 0.8rem;
    font-family: 'Scripture', serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 1rem;
    color: #444;
    margin-bottom: 1rem;
}
.scripturePanelSingle .text:last-child{
  margin-bottom: 0;
}

.scripturePanelSingle .text p{
  margin-left: 1em;
  margin-bottom: 0;
}
.scripturePanelSingle .loadBar
{
    max-height: 5rem;
    max-width: 3rem;
    top: 0 !important;
    position: relative!important;
}



.scripturePanelSingle 
{
    padding-bottom: 1rem;
}

.scripturePanelSingle .buttons
{
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  gap: 1ex;
}

.scripturePanelSingle .scriptureTextHeader
{
  display: flex;
  width: 100%;
  align-items: center;
}
.scripturePanelSingle .scriptureTextHeader .btn
{
  margin: 0;
  padding: 0 0.5rem;
  height: 1rem;
  font-size: 0.5rem;
  margin-top: -1rem;
  background-color: #DDD;
  color: #666;
}


.scripturePanel
{
/* flex grid */
display: grid;
grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
grid-gap: 0.5ex;
}

.narration .scripturePanel
{
border: 1px solid #DDD;
}

.scriptureItem
{
  padding: 0.5ex;
  border-radius: 1ex;
  background-color: #00000022;
  line-height: 100%;
  display: flex;
  /* vert and horiz center */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  letter-spacing: -0.3px;
  font-size: 1.7ex;
}

.scriptureItem:hover
{
  background-color: #00000044;
  position: relative;
  bottom: 0.5px;;
}
.scriptureItem.active
{
  color: white;
  background-color: #00000088;
  outline: 2px solid #000;
}