.search-popup{
  position: absolute;
  top: 10%;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  min-width: fit-content;

  /* 10 px drop shadow in all directions */
  box-shadow: 0 0 5rem #000;
  max-height: calc(100vh - 60px - 10%);
  overflow: hidden;
  min-height:fit-content;

  z-index: 100;
}

.search-popup .card-header
{
  display: flex;
  padding-bottom: 1ex;
  font-size: 1rem;
  border-bottom: 1px solid #DDD;
}

.search-popup .card-header input
{
  flex-grow: 1;
  margin: 0 1rem;
  font-size: 1.3rem;
  padding: 0.3ex;
  outline: none;
  border-radius: 0.5ex;
  border-color: #DDD;
  border-collapse: collapse;
}


.search-popup .search-result
{
  display: flex;
  text-align: left;
  margin-bottom: 0.5ex;
  cursor: pointer;
}

.search-popup .search-result.selected
{
  outline: 1px solid #EEE;
  border-radius: 0.5ex;
  background-color: #93c6ef22;
}
.search-popup .search-result.selected img{
  filter: brightness(1.2);
}

.search-popup .search-result.primaryResult.last
{
  border-bottom: 1px dashed #AAA;
  margin-bottom: 1ex;
  padding-bottom: 1ex;
}

.search-popup .search-result.secondaryResult
{
  opacity: 0.7;
}

.search-popup  .search-results
{
  margin-top: 0;
}

.search-popup .search-result > div
{
  flex-grow: 1;
}
.search-popup .search-result > img
{
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  margin-right:1ex;
  flex-shrink: 0;
}
.search-result-name
{
  font-weight: bold;
  font-size: 1rem;
  height: 50%;
  position: relative;
  bottom: -1ex;
}
.search-result-info
{
  color: #999;

  white-space: nowrap;
  overflow: hidden;
  height: 1.2rem;
  margin-right: -3rem;
}

.search-popup .close{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #AAA;
  cursor: pointer;
}
.search-popup .close:hover{
  color: #000;
}
.search-popup .highlight{
  background-color: #FFFF0055;
}

.search-result.no-results
{
  text-align: center;
  color: #999;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchPanelButton img{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  opacity: 0.3 ;
}

.search-result em{
  font-style: normal;
  background-color: #FFFF0033;
}
