.search .resultItem
{
    display: flex;
    flex-direction: row;
    padding-top: 1ex;
    padding-right: 1ex;
    border-radius: 0.5ex;
}

.search .resultItem em
{
    font-style: normal;
    border:1px solid #FFA;
    background-color:#FF05;
    padding-left: .5ex;
    padding-right: .5ex;
    border-radius: .5ex;
}

.search .reference
{
    width: 9%;
    text-align: right;
    font-weight: 800;
    padding: 0 1em;
    font-size: 1rem;
    line-height: 1.2em;
    flex-shrink: 0;
}
.search h5 button{
    float: right;
    margin-left: 1ex;
    background-color: #666;
    color: #FFF;
    line-height: 1rem;
    font-size: 0.8rem;
    border:0;
    /* button style border emboss */
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.5ex;
    opacity: 0.5;
}
.search h5 button:hover{
    opacity: 1;
}

.resultItem .text{

    flex-grow: 1;
}

.resultItem h5{
    color:#555;
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
}
.resultItem h5 span{
    color:#AAA;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1ex;
    font-size: smaller;
    font-style: italic;
}

.search .resultItem:hover
{
    outline: 1px solid #CCC;
    background-color:  #FF01;
}

.search h3 code{
    letter-spacing: -1px;
}

.sidebar .searchbox input
{
    text-transform: lowercase;
}

.search .searchbox{
    width: 100%;
}

.search .searchboxWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1ex;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Add shadow for depth */
    border-radius: 25px; /* Rounded corners */
    background-color: #fff; /* White background */
}

.search .searchboxWrapper input{
    flex-grow: 1;
    border: none; /* Remove border */
    padding: 0.5em; /* Add padding */
    font-size: 1em; /* Adjust font size */
    border-radius: 25px; /* Rounded corners */
    outline: none; /* Remove focus outline */
}

.search .searchboxWrapper button{
    flex-grow: 0;
    width: 4em;
    border: none; /* Remove border */
    background-color: #9a9a9a; /* Blue background */
    color: #fff; /* White text */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Cursor pointer on hover */
    transition: background-color 0.3s; /* Transition for hover effect */
    height: 3rem;
}

.search .searchboxWrapper button:hover{
    background-color: #6b6b6b; /* Darker blue on hover */
}