.search .resultItem
{
    display: flex;
    flex-direction: row;
    padding-top: 1ex;
    padding-right: 1ex;
    border-radius: 0.5ex;
}

.search .resultItem em
{
    font-style: normal;
    border:1px solid #FFA;
    background-color:#FF05;
    padding-left: .5ex;
    padding-right: .5ex;
    border-radius: .5ex;
}

.search .reference
{
    width: 5rem;
    text-align: right;
    font-weight: 800;
    padding: 0;
    font-size: 1rem;
    line-height: 1.2em;
    flex-shrink: 0;
    padding-left: 0.5ex;
}
.search h5 button{
    float: right;
    margin-left: 1ex;
    background-color: #666;
    color: #FFF;
    line-height: 1rem;
    font-size: 0.8rem;
    border:0;
    /* button style border emboss */
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.5ex;
    opacity: 0.5;
}
.search h5 button:hover{
    opacity: 1;
}

.resultItem .text{

    flex-grow: 1;
}

.resultItem h5{
    color:#555;
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
}
.resultItem h5 span{
    color:#AAA;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1ex;
    font-size: smaller;
    font-style: italic;
}

.search .resultItem:hover
{
    outline: 1px solid #CCC;
    background-color:  #FF01;
}

.search h3 code{
    letter-spacing: -1px;
}

.sidebar .searchbox input
{
    text-transform: lowercase;
}

.search .searchbox{
    width: 100%;
}

.search .searchboxWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1ex;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Add shadow for depth */
    border-radius: 25px; /* Rounded corners */
    background-color: #fff; /* White background */
}

.search .searchboxWrapper input{
    flex-grow: 1;
    border: none; /* Remove border */
    padding: 0.5em; /* Add padding */
    font-size: 1em; /* Adjust font size */
    border-radius: 25px; /* Rounded corners */
    outline: none; /* Remove focus outline */
}

.search .searchboxWrapper button{
    flex-grow: 0;
    width: 4em;
    border: none; /* Remove border */
    background-color: #9a9a9a; /* Blue background */
    color: #fff; /* White text */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Cursor pointer on hover */
    transition: background-color 0.3s; /* Transition for hover effect */
    height: 3rem;
}

.search .searchboxWrapper button:hover{
    background-color: #6b6b6b; /* Darker blue on hover */
}



.search .speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 5rem;
    margin-top: -0.5ex;

}

.search .text p{
    font-family: 'Scripture';
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}.search .text p em{
    font-family: 'Roboto Condensed';
    font-size: 0.8rem;
    font-weight: bold;
}

.search .speaker img
{
    border-radius: 50%;
    border: 1px solid #444;
    width: 3.8rem;
    height: 4rem;
    object-fit: cover;
    cursor: pointer;
}
.search .speaker img:hover
{
    filter:  brightness(1.2);
    border: 3px solid #000;
}
.search .speaker div.read-voice
{
    font-family: "Roboto Condensed";
    text-align: center;
    min-height: 1rem;
    min-width: 3rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
    margin:0;
    padding: 0.5ex 1ex;
    border-radius: 1ex;
    margin-top: -1rem;
    color: #444;
    color: white;
    background-color: #92785dee;
    font-weight: bold;
    /* small caps */
    text-transform:capitalize;
    border: 1px solid #444;

    z-index: 1;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search .reference-speaker{
    display: flex;
    flex-direction: row
}

/* mobile mode 1000px */
@media (max-width: 900px) {

    .search .reference-speaker{
        flex-direction: column;
    }
    .search .reference-speaker .reference{
        text-align: center;
        margin-bottom: 1ex;
        margin-right: 1ex;
    }
    .search > div > a > .resultItem{
        margin: 0 -1.5rem
    }
}