

.vega-embed
{
    border: 1px solid red;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    background-color: #DDD;
}


.vega-embed canvas
{
    outline: 1px solid blue;
    background-color: white;
}