.studyYear img,
h5.title > img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 1ex;
}
.trophyCase li > img,
.profileCard button > img {
  height: 1.5em;
  margin-right: 1ex;
  position: relative;
  top: -0.25ex;
}
.quickstats img {
  height: 2em;
  opacity: 0.5;
}
.profileCard code {
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.quickstats {
  cursor: pointer;
  border-radius: 1em;
  flex-wrap: nowrap;
}

.quickstats h5
{


}

.quickstats:hover
{
  background-color: #FAFAFA;
}

.profileDropdown
{
  float: right;
}

.quickstats .col .stat_label
{
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}


.profileCard .threedots
{
  cursor: pointer;
  font-weight: 800;
  font-size: 2ex;
  color: #999;
  height: 2.5ex;
  width: 2.5ex;
  text-align: center;
  border-radius: 50%;
}


.profileCard  .threedots:hover
{
  background-color: #EEE;
}

.profileCard button > img
{
  opacity: .5;
}


.profileDropdown .dropdown-menu .dropdown-item
{
  padding: 1ex;
  font-weight: 500;
}

.profileDropdown .dropdown-menu.show
{
  border: 1px solid #AAA;

}


.loginGroup .alert
{
  text-align: center;
  padding-right: 2em;
  margin-left: 3em;
}
