
.victory {
    
  z-index: 99;

position: absolute; 
left: 0; 
right: 0; 
top:calc(50px + 10vh);
margin-left: auto; 
margin-right: auto; 
width: 50vw;
max-width: 1000px;

-moz-box-shadow: 0 0 3em #000;
-webkit-box-shadow: 0 0 3em #000;
box-shadow: 0 0 3em #000;

}


.victory h5.title
{
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}
.victory h5 span{
  float: right;
  font-family: monospace;
  cursor: pointer;
  opacity: 0.5;

}
.victory h5 span:hover{
  opacity: 1;
}

.victorybody
{
  display: flex;
  margin-bottom: -10%;
  z-index: 2;
}

.victorybody .profile
{
  width: 25%;
  flex-shrink: 0;
}
.victorybody .profile img{
  border-radius: 50%;
  border: 1ex solid #0003;
}

.victorybody .revealtext
{
 
  flex-grow: 1;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  line-height: 2rem;
}

.victory .trophy
{
  display: flex;
  justify-content: center;
}

.victory .trophy img
{
  max-height: 40vh;
}

.main-panel > canvas{
  position: fixed!important;

  right: 0!important;
  left: 250px!important;
}

#popUp.victory
{
  position: fixed;
  top:10vh;
  left: 250px!important;
}


.victorydrawer h5 span
{
  display: none;
}


.victorydrawer img{
  max-height: 20vh;
}

.victorydrawer 
{
  text-align: center;
}