.contact h5 {
  font-weight: 800;
  line-height: 1em;
  padding: 0.25em;
  margin: 0;
  margin-bottom: 0.5em;
}

.contact {
  padding-left: 4em;
}

.contact .btn {
  width: 100%;
  background-color: #ddd;
  color: #323b4d;
  line-height: 1em;
  font-size: large;
}
.contact .btn:hover {
  background-color: #323b4d;
}
.contact .btn img {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}
