#map {
  position: absolute !important;
  height: 100vh;
  left: 0;
  right: 0;
}

#map .openlayers-map
{
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute !important;
  background-color: #6b7d91;
  bottom: 0;
  right: 0;
  left: 0
}


.map-type-active {
  box-shadow: 0 0 9px #4a4a4a;
  padding: 10px 0;
  border-radius: 10%;
  background: #1a1d20;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 11px;
  cursor: pointer;
}



.map-right-arrow {
  width: 170px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  bottom: 40px;
  right: 90px;
  position: absolute;
  z-index: 5;
  float: right;
  cursor: pointer;
  
}

.map-type:hover {
  background: #4b6070
}


/* .map .gm-style a img */


.map .placebox a {
  display: inline;
  font-size: inherit;
}

.map-infowindow {
  display: inline-block;
  overflow: auto;
  max-height: 50vh;
  max-width: 60vw;
}

.map-place-brief-info {
  margin: 0;
  color: #555;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
}


.placebox .refbox{

  max-height: 40vh;
}

.map-place-info {
  box-sizing: border-box;
  padding: 1em;
  padding-top: 0;
  overflow: auto;
  color: #555;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  padding-right: 1em;
  max-height: 60vh;
}


.map .gmnoprint:nth-child(11) {
  right: 50px;
  cursor: pointer;
}

.map .gmnoprint:nth-child(8) {
  margin: 0;
  margin-bottom: -50px;
}


.map-right-arrow {
  position: absolute;
  top: calc(60px + 2em);
  left: 2em;
  z-index: 9;
}

.map-right-arrow .react-component-tooltip{
  max-width: 300px;
}

.map-type-active {
  background: white;
  height: 35px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  box-shadow: 0px 5px 8px 2px #646464ed;
  cursor: pointer;
  color: #444;
}

.map-type-active:hover {
  background: #ebe9e9;
}

.maptypes {
  width: 120px;
  border-radius: 1em 1em 1em 1em;
}

.map-type {
  background: #59778d;
  color: #fff;
  font-size: 17px;
  padding: 8px 0;
  border-bottom: 1px solid #c0c0c042;
  cursor: pointer;
  transition: 0.3s;
}


.map-type:hover {
  color: #fff;
  font-weight: bold;
}


.map-type-active.active {
  border-radius: .5em .5em 0 0;
  box-shadow: 0 0 9px #4a4a4a;
}


.map-type:last-child {
  border-radius: 0 0 11px 11px;
}


.mapType img
{
  height:10rem;
  width:10rem;
  border:1px solid #FFF5;
  margin:1em
}
.mapType p
{
  max-width: 10rem;
}

.mapType
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gm-style-iw.gm-style-iw-c
{
  width: 50vw;
}




@media screen and (max-width: 900px)
{
  #map
  {
    position: absolute;
    top:60px;
    height: calc(100vh - 50px);
    background: black;
  }

}

#map .ol-zoom
{
  left: auto;
  right: 1rem;
  top:1rem;
}
#map .ol-full-screen
{
  top: auto;
  bottom: 1rem;
  right: 1rem;
}

#map .ol-zoom button,
#map .ol-full-screen button
{
  background: #fff;
  color: #000;
  font-size: x-large;
  font-family: 'Arial', Courier, monospace!important;
}

.ol-attribution
{
  display: none;
}