#map {
  position: absolute !important;
  height: calc(100vh - 60px);
  left: 0;
  right: 0;
  transition: left 0.5s;
  background-color: #6b7d91;
}
.mappanel_wrapper.open #map {
  left: 30%;
}

#map .ol-viewport{
  object-fit: cover;
  border-left: 5px solid #EEE;
  border-right: 5px solid #EEE;
}

.open #map .ol-viewport{
  border-left: 0;
}


.open #map .ol-viewport canvas{
  border-left: 1px solid #AAA;
}

.map-type-active {
  box-shadow: 0 0 9px #4a4a4a;
  padding: 10px 0;
  border-radius: 10%;
  background: #1a1d20;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 11px;
  cursor: pointer;
}


.map-selector-menu {
  position: absolute;
  top: 2rem;
  left: 2em;
  z-index: 9;
  width: 170px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  bottom: 40px;
  right: 90px;
  z-index: 5;
  float: right;
  cursor: pointer;
  transition: left 0.5s;
}

.open .map-selector-menu {
  left: calc(30% + 2rem);

}

.mapPanel
{
  width: 0;
  transition: all 0.5s;
  opacity: 0;
}
.open .mapPanel
{
  width: 30%;
  opacity: 1;

}

.mapPanel h5{
  text-align: center;
}

.map-type:hover {
  background: #4b6070
}

.mapPanel img{
  max-height: 30vh;
  object-fit: cover;
}

/* .map .gm-style a img */


.map .placebox a {
  display: inline;
  font-size: inherit;
}

.map-infowindow {
  display: inline-block;
  overflow: auto;
  max-height: 50vh;
  max-width: 60vw;
}

.map-place-brief-info {
  margin: 0;
  color: #555;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
}


.placebox .refbox{

  max-height: 40vh;
}

.map-place-info {
  box-sizing: border-box;
  padding: 1em;
  padding-top: 0;
  overflow: auto;
  color: #555;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  padding-right: 1em;
  max-height: 60vh;
}


.map .gmnoprint:nth-child(11) {
  right: 50px;
  cursor: pointer;
}

.map .gmnoprint:nth-child(8) {
  margin: 0;
  margin-bottom: -50px;
}



.map-selector-menu .react-component-tooltip{
  max-width: 300px;
}

.map-type-active {
  background: white;
  height: 35px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  box-shadow: 0px 5px 8px 2px #646464ed;
  cursor: pointer;
  color: #444;
}

.map-type-active:hover {
  background: #ebe9e9;
}

.maptypes {
  width: 120px;
  border-radius: 1em 1em 1em 1em;
}

.map-type {
  background: #59778d;
  color: #fff;
  font-size: 17px;
  padding: 8px 0;
  border-bottom: 1px solid #c0c0c042;
  cursor: pointer;
  transition: 0.3s;
}


.map-type:hover {
  color: #fff;
  font-weight: bold;
}


.map-type-active.active {
  border-radius: .5em .5em 0 0;
  box-shadow: 0 0 9px #4a4a4a;
}


.map-type:last-child {
  border-radius: 0 0 11px 11px;
}


.mapType img
{
  height:10rem;
  width:10rem;
  border:1px solid #FFF5;
  margin:1em
}
.mapType p
{
  max-width: 10rem;
}

.mapType
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gm-style-iw.gm-style-iw-c
{
  width: 50vw;
}


.mapPanel .mapPanelCardContainer{
  margin: 0;
}


#map .ol-zoom
{
  left: auto;
  right: 1rem;
  top:1rem;
}
#map .ol-full-screen
{
  top: auto;
  bottom: 1rem;
  right: 1rem;
}

#map .ol-zoom button,
#map .ol-full-screen button
{
  background: #fff;
  color: #000;
  font-size: x-large;
  font-family: 'Arial', Courier, monospace!important;
}

.ol-attribution
{
  display: none;
}


.mappanel_wrapper{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.mapTooltip
{
  position: absolute;
  z-index: 1;;
  background-color: #EEE;
  border-radius: 1ex;
  outline: 3px solid #EEE;
  border: 1px solid #000;
  /* drop shadow */
  box-shadow: 0 0 10px #000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: left 0.5s;
}

/*
Add a triangle notch pointing down at the bottom of the tooltip
*/
.mapTooltip:after
{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #EEE;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  /* make the background image 100% and 100% width */
}

.mapTooltip .placeInfo
{
  display: flex;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  line-height: 100%;
  align-items: center;
  padding: 1em;
  height: 100%;
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #00000088;
  width: 100%;
}
.mapTooltip .placeInfo h4{
  color: white;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.closePanelButton{
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  top:0;
  right:5px;
  font-size: 3rem;
  line-height: 4rem;
  cursor: pointer;
  color: #888;
}
.closePanelButton:hover{
  color: #000;
}

.mapPanel h5{
  margin-bottom: 0;
  
}

.mapPanel .info{
    text-align: center;
    color: #999;
    margin-bottom: 1rem;
}
.mapPanel .nav-tabs .nav-item .nav-link.active:before,
.mapPanel .nav-tabs .nav-item .nav-link.active:after{
  content: none;
}

.mapPanel .nav-tabs
{
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  padding: 0;
}
.mapPanel .nav-tabs .nav-item 
{
  flex: 1;
  overflow: hidden;
  height: 3rem;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #AAA;
}
.mapPanel .nav-tabs .nav-item:hover
{
  color:#444;
}
.mapPanel .nav-tabs .nav-item.active
{
  color: #000;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid #ddd;
}

.mapPanel .place_refs {
  line-height: 120%;
}
.mapPanel .place_refs .ref{
  width: 35%;
  text-align: right;
  font-weight: bold;
  padding-right: 1rem;
  color: #AAA;
}
.mapPanel .place_refs tr{
  border-bottom: 1px solid #EAEAEA;
}

.mapPanel .place_refs tr:last-child{
  border-bottom: none;
}

.mapPanel .counter
{
  font-weight: bold;
  color: white;
  background-color: #999;
  padding: 0 0.7ex;
  text-align: center;
  border-radius: 50%;

}
.mapPanel .active .counter
{

  background-color: #000;

}


.mapPanel 
{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mapPanel .mapPanelCardContainer
{
  padding: 1rem;
  padding-bottom: 0;
  overflow: scroll;
}

.mapPanel .mapPanelScripture
{
  bottom: 0;
  left: 250px;
  background-color: #FFFFFF44;
}

.mapPanelScripture .scripturePassages
{

  max-height: 30vh;
  overflow: auto;
}

.tab-content > .active.viscinity
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1ex;
}
.viscinity_place
{
  width: calc(33% - 1ex);
  position: relative;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.viscinity_place p
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  color: white;
  background-color: #00000088;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 0 0 1ex 1ex;
}
.viscinity_place img
{

  border-radius: 1ex;
  object-fit: cover;
}

.viscinity_place:hover
{
  filter: brightness(1.2);
}

.mapPanel .desc
{
  text-align: justify;
}

.mapHighlight
{
  /* overlay on #map */
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


@media screen and (max-width: 900px)
{
  .mappanel_wrapper
  {
    position: fixed;
    top:60px;
    height: calc(100vh - 60px - 60px);
    overflow: hidden;
  }
  .mappanel_wrapper #map
  {
    height: 100%;
  }

}