.read-content .read-section
{
    font-family: "Scripture";
    background-color: #FFF;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
}

.read-content .read-section .read-block
{
    display: flex;
}
.read-content .read-section .read-section-header
{
    display: flex;
    font-family: "Roboto Condensed";
}
.read-content .read-section .read-section-header h4{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    color: #444;
    margin-bottom: 1ex;
    flex-grow: 1;
}.read-content .read-section .read-section-header p a{
    padding-top: 1ex;
    color: #AAA;
    flex-shrink: 0;
}.read-content .read-section .read-section-header p a:hover{
    color: #444;
}

.read-content .read-section .read-block .left-gutter
{
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    padding: 0 1rem 1ex 0;
    margin-left: 1rem;
}
.read-content .read-section .read-block .main-content
{
    /* vert center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 1rem 0 0;
}

.read-content .read-section .read-block .left-gutter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read-content .read-section .read-block .left-gutter img
{
    border-radius: 50%;
    border: 1px solid #444;
    width: 3.8rem;
    height: 4rem;
    object-fit: cover;
    cursor: pointer;
}
.read-content .read-section .read-block .left-gutter img:hover
{
    filter:  brightness(1.2);
    border: 3px solid #000;
}
.read-content .read-section .read-block .left-gutter div.read-voice
{
    font-family: "Roboto Condensed";
    text-align: center;
    min-height: 1rem;
    min-width: 3rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
    margin:0;
    padding: 0.5ex 1ex;
    border-radius: 1ex;
    margin-top: -1rem;
    color: #444;
    color: white;
    background-color: #92785dee;
    font-weight: bold;
    /* small caps */
    text-transform:capitalize;
    border: 1px solid #444;

    z-index: 1;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-scripture
{
    font-family: "Scripture";
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: justify;
    /* 2 columns */
    
}

p.read-scripture + p.read-scripture
{
    margin-top: -1.5ex;
}

p.read-scripture.italic
{
    font-style: italic;
    margin: 2rem 2rem;
    font-size: 1rem;
    line-height: 1rem;
    color: #999;
}

p.read-scripture.heading
{
    /* small caps */
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
}

.read-scripture.split
{
    columns: 1;
    column-gap: 2rem;
}
.read-scripture sup{
    font-family: "Roboto Condensed";
    font-size: 0.6rem;
    color: #999;
    margin: 0 0.5ex;
}
.read-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.read-scripture span{
    cursor: pointer;
}
.read-scripture span.hovered{
    border-bottom: 1px dotted #c98328;
    color: #6a1313;
}

.read-scripture span.highlighted{
    background-color: #FFFF0033;
}


.read-header-nav .btn.btn-primary,
.read-section-footer .btn.btn-primary
{
    font-family: "Roboto Condensed";
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #444;
    color: white;
}


.read-header-nav .btn.btn-primary.disabled  ,
.read-section-footer .btn.btn-primary.disabled
{
    background-color: #999;
    color: white;
    cursor: not-allowed;
}
.read-section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-family: "Roboto Condensed";
    font-size: 0.8rem;
    color: #444;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 900px) {
    
    .read-content, .read-content .read-section{
        margin: -0.6rem;
    }
    /* left gutter smaller */
    .read-content .read-section .read-block .left-gutter
    {
        margin: 0;
    }
  }
  
.chapter-nav {
    display: grid;
    /* auto fit, make grid 2:1 ratio */
    grid-template-columns: repeat(auto-fit, minmax(1.33rem, 1.5fr));
    margin-bottom: 1rem;
    border: 1px solid #AAA;
    margin-left: 1rem;
    border-radius: 1ex;
    background-color: #CCC;
    margin-top: -2rem;
}

.chapter-nav a {
    font-size: 1.2ex;
    text-align: center;
    background-color: #EEE;
    font-weight: bold;
}
.chapter-nav a.first {
    outline: 1px solid black;
    z-index: 1;
    background-color: #777!important;
    color: white;
}

.chapter-nav a:nth-child(odd) {
    background-color: #DDD;
}
.chapter-nav a.active {
    outline: 2px solid #ff6f00;
    background-color: #FFFF0099!important;
    color: #000;
    z-index: 2;
}
.chapter-nav a:hover{
    outline: 2px solid #ff6f0077;
    z-index: 3;
}